/* body {
  overflow-x: hidden;
  position: relative;
} */

#about-me {
  color: aliceblue;
  font-family: Caveat, cursive;
}

.about-bg-img {
  height: 100%;
  background-image: url("../public/bg-img.jpg");
  background-size: cover;
  max-width: 100%;
  position: relative;
}

.about-bg-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.about-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f2efe5;
  opacity: 0;
  animation: fade-in 1.5s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.intro {
  width: 80vw;
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-bottom: 20px;
}

h3 {
  text-decoration: underline;
}

.desc,
h3 {
  font-family: "Inconsolata", monospace;
  font-size: 18px;
  letter-spacing: 1px;
}

.title {
  margin-top: 150px;
  font-size: xx-large;
}

.gap {
  margin-bottom: 50px;
}

.go-to-projects {
  color: rgb(112, 187, 187);
}

/* .animated-image {
  background-color: aliceblue;
  position: absolute;
  left: -100px;
  top: 50%;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  animation: slideInAndRotate 3s forwards;
}
@keyframes slideInAndRotate {
  0% {
    left: -100%;
    transform: translateY(-50%) rotate(360deg);
  }
  50% {
    left: 50%;
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    display: none;
    left: 100%;
    transform: translateY(-50%) rotate(80deg);
  }
} */
