#contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  text-align: center;
  background-image: url("../public/bg-img.jpg");
  background-size: cover;
  position: relative;
}

.contact-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #696969;
  opacity: 0; /* Start with opacity set to 0 */
  animation: fadeIn 1.5s forwards;
  background-color: rgba(51, 51, 51, 0.7);
}
#contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.e-mail,
.li-in {
  color: #beabc7;
}
.e-mail:hover,
.li-in:hover {
  color: cornflowerblue;
}
