/* *,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  background-color: black;
}

hr {
  width: 150px;
  text-align: center;
}

h2 {
  font-size: 50px;
  padding: 15px;
  font-family: Caveat, cursive;
}

.a-color {
  color: #beabc7;
}

.a-color:hover {
  color: cornflowerblue;
}

.project {
  padding: 20px;
}

#home {
  height: 100vh;
  background: url("../public/my-img.jpeg");
  background-size: cover;
  max-width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 10%;
  top: 5%;
  background-color: rgba(51, 51, 51, 70%);
  margin: 10px;
  width: 80%;
  z-index: 2;
  border-radius: 10px;
  opacity: 0;
  animation: fade-in 1.5s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

a {
  color: white;
  padding: 24px;
  text-decoration: none;
}

a:hover {
  color: #beabc7;
}

.home {
  width: 50vw;
  color: white;
  font-size: xx-large;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  left: 600px;
  top: 150px;
  font-family: Acme, sans-serif;
  opacity: 0;
  animation: fade-in 1.5s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }

  a {
    padding: 10px;
  }

  #home {
    position: relative;
    z-index: 1;
    width: 100%;
  }

  .desc {
    font-size: medium;
  }

  .home {
    width: 90vw;
    padding: 0;
    position: relative;
    top: 250px;
    left: 23px;
    z-index: 2;
    font-size: x-large;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 100%;
  }

  #home {
    position: relative;
    z-index: 1;
    width: 100%;
  }

  .home {
    display: flex;
    justify-content: center;
    padding: 0;
    position: relative;
    top: 350px;
    left: 350px;
    z-index: 2;
    font-size: 35px;
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 100%;
  }

  #home {
    position: relative;
    z-index: 1;
    width: 100%;
  }

  .home {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 45vw;
    padding: 0;
    position: relative;
    left: 529px;
    top: 300px;
  }
}

@media only screen and (min-width: 1219px) {
  .container {
    width: 100%;
  }

  #home {
    position: relative;
    z-index: 1;
    width: 100%;
  }

  .home {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 45vw;
    padding: 0;
    position: relative;
    left: 659px;
    top: 300px;
  }
}
